/*Generales*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: #f4f4f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav img {
    height: 50px;
    width: auto;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.nav-enlaces {
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.nav-enlaces li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-enlaces li a:hover {
    background-color: gray;
    color: white;
}

/* Parte Footer */
.footer-container {
    background-color: #f4f4f4;
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer-enlaces {
    display: flex;
    justify-content: center;
    gap: 15px;
    justify-content: space-around;
}

.footer-enlaces a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer-enlaces a:hover {
    text-decoration: underline;
}

/* Parte del Log out */
.logout {
    margin-left: auto;
}

.logout a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.logout a:hover {
    background-color: gray;
    color: white;
}


/* Parte del formulario */
.form2{
    border-radius: 20px;
    padding: 40px 100px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .1);
}

.form-login{
    width: 26.25;
    border-radius: 10px solid;
    border: 20px;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.form-login h1{
    font-size: 36px;
    color: black;
    text-align: center;
}

.form-login .caja-input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0px 10px 0px;
}

.caja-input input{
    width: 100%;
    height: 100%;
    border: none;
    border: 2px solid rgba(17, 3, 3, 0.785);
    border-radius: 50px;
    color: black;
    padding: 5px 30px 5px 20px;
    right: 50px;
    left: 50px;
    box-sizing: border-box;
}

.caja-input input::placeholder{
    color:black;
}

.caja-input img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.form-login .btn{
    width: 50%;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-left: 50px;
}
.btn a{
    color: black;
    text-decoration: none;
}

